html, body, #root {
  height: 100%;
  margin: 0;
}

.app-root {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;         
}


footer {
  position: static !important;
}